body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: lighter;
  color: #262625;
  background-color: #262626;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  margin:0px 0px 0px 0px;
}

h1 span {
  font-size: 38px;
}

h3 {
  font-size: 26px;
}

a {
  color: #CC3631;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
}

p {
  font-size: 14px;
  font-weight: lighter;
}

ul {
  font-size: 14px;
  font-weight: lighter;
}

.header {
  height: 200px;
  position: relative;
  top: -20px;
  margin-left: -10px;
  margin-right: -10px;
  background-image: url("cykle.png");
  object-fit: fill;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
