body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #262625;
  line-height: 1.5;
  background-color: #26081C;
  margin:0px 0px 0px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial';
  color: #FFFFFF;
  margin:0px 0px 0px 0px;
}

h1 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

a {
  color: #ECA93B;
}

a:hover {
  background-color: #ECA93B;
  color: #000000;
}

p {
  color: #E1E6CF;
  font-size: 18px;
}
::selection {
  background: #6E8258	;
  color: #FFFFFF;
}

.resume {
  color: #FFFFFF;
  background: #4F5920;
}

.resume_content {
  width: 600px;
  margin:0px auto 0px auto;
}

.header {
  height: 5px;
  width: auto;
  position: relative;
  top: 0px;
  background-image: url("bar.png");
}

.skills {
  background-color: #D99A36;
}

.skills_content {
  width: 600px;
  margin:0px auto 0px auto;
}

.skills a {
  color: #003E56;
}

.skills p {
  color: #261B0D;
}

.skills a:hover {
  background-color: #ECA93B;
  color: #FFFFFF;
}

.skills_body {
  display: none;
  padding : 5px;
}

.skills_header {
  width: 600px;
  margin:0px auto 0px auto;
  cursor: pointer;
}

.skills ::selection {
  background: #ECA93B;
  color: #FFFFFF;
}

.experience {
  background-color: #003E56;
  color: #CFDFE6;
}

.experience_content {
  width: 600px;
  margin:0px auto 0px auto;
}

.experience p {
  color: #CFDFE6;
}

.experience a {
  color: #ECA93B;
  font-weight: bolder;
}

.experience a:hover {
  background-color: #003E56;
  color: #FFFFFF;
}

.experience .experience_body {
  display: none;
  padding : 5px;
}

.experience ::selection {
  background: #003E56	;
  color: #FFFFFF;
}

.experience_header {
  cursor: pointer;
}

.portfolio {
  background-color: #801B27;
}

.portfolio_content {
  width: 600px;
  margin:0px auto 0px auto;
}

.portfolio p {
  color: #E6CFD1;
}

.portfolio a {
  font-weight: bolder;
  color: #ECA93B;
}

.portfolio a:hover {
  background-color: #801B27;
  color: #FFFFFF;
}

.portfolio_body {
  display: none;
  padding : 5px;
}

.portfolio_header {
  cursor: pointer;
}

.portfolio ::selection {
  background: #B32536	;
  color: #FFFFFF;
}

.education {
  background-color: #661A4C;
  color: #FFFFFF;
}

.education_content {
  width: 600px;
  margin:0px auto 0px auto;
}

.education p {
  color: #E6CFDE;
}

.education_body {
  display: none;
  padding : 5px;
}

.education_header {
  cursor: pointer;
}

.education ::selection {
  background: #92256E;
  color: #FFFFFF;
}
